<div class="page-header">
	<h2><small>New Item</small></h2>
</div>

<form>
	<div class="form-group">
		<label>Item</label>
		<input type="text" class="form-control" placeholder="Item name" ng-model="formData.name">
	</div>
	<div class="form-group">
		<label>Quantity</label>
		<input type="number" class="form-control" placeholder="How many?" ng-model="formData.quantity">
	</div>
	<button class="btn btn-primary" ng-click="create()">Add</button>
</form>

<div class="page-header">
	<h2><small>Shop List</small></h2>
</div>

<table class="table table-bordered">
	<thead>
		<th>Item</th>
		<th>Quantity</th>
		<th></th>
	</thead>
	<tbody>
	<tr ng-show="items.length == 0">
		<td colspan="3" style="text-align: center">0 items added</td>
	</tr>
	<tr ng-repeat="item in items">
		<td>{[{item.name}]}</td>
		<td>{[{item.quantity}]}</td>
		<td style="text-align: center;"><button class="btn btn-xs btn-danger" ng-click="delete(item._id)">Delete</button></td>
	</tr>
	</tbody>
</table>